::-webkit-scrollbar {
  background-color: #202324;
  color: #aba499;
}

::-webkit-scrollbar-corner {
  background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}

:root {
  color-scheme: dark;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0px;
  color: #cfcfcf;
  background-color: #191919;
}

.centered {
  text-align: center;
}

#topNav ul {
  background-color: #333;
  text-align: center;
  position: sticky;
  padding: 0px;
  margin: 0px;
  width: 100%;
  top: 0px;
}

#topNav ul li {
  display: inline;
}

#topNav ul li a {
  display: inline-block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#topNav ul li a:hover {
  background-color: #555;
}

#topNav ul li a.active {
  background-color: #04aa6d;
  color: white;
}

#restaurantDescription {
  margin: 0 8%;
}

.fullWidth {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.menuContainer {
  display: flex;
  align-items: top;
  justify-content: center;
  margin-bottom: 80px;
}

.menuImgContainer {
  margin-left: 10%;
  margin-right: 20px;
  width: 50%;
  text-align: right;
}

.menuTextContainer {
  align-items: left;
  margin-left: 20px;
  width: 50%;
  margin-right: 10%;
}

.menuTextContainer p {
  width: 500px;
}
